.navbar-toggler {
    background: rgb(255,255,255, 0.1);
}
.sideNav {
    background: rgb(11,1,1);
    background: linear-gradient(180deg, rgba(11,1,1,1) 0%, rgba(181,127,9,1) 22%, rgba(213,166,46,1) 70%, rgba(243,245,229,1) 100%);
    background-size: cover;
    height: 100%;
}
.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}
.sideNavTitle{
    background-color: black;
}
.title{
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.title:hover, title:active {
    background-color: white;
    color: black;
    border-radius:10px;
}
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
